<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- TailWind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Luxon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- StyleSheet -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <main class="flex justify-center items-center h-screen">
            <div class="container pt-4">
                <!-- Header -->
                <div class="bg-[#eaeaea] flex">
                    <!-- Your Profile -->
                    <div class = "w-2/5 p-4 flex items-center justify-between">
                        <div class = "flex items-center">
                            <img src="img/avatar_io.jpg" class="w-[50px] rounded-full">
                            <span class = "ml-4">Francesco</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid px-4 fa-message fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #b1b1b1;"></i>
                        </div>
                    </div>
                    <!-- Current Contact -->
                    <div class = "w-3/5 p-4 border-l-[1px] border-x-gray-300 flex justify-between items-center">
                        <div class = "flex items-center">
                            <img :src="contacts[contactIndex].avatar" class="w-[50px] rounded-full">
                            <span class = "ml-4">
                                <h4>{{contacts[contactIndex].name}}</h4>
                                <h4 class = "text-sm text-gray-500">Ultimo accesso oggi alle 12:00</h4>
                            </span>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid  px-4 fa-paperclip fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #b1b1b1;"></i>
                        </div>
                    </div>
                </div>
                <!-- Body -->
                <div class="bg-[#eaeaea] flex h-[40rem]">
                    <div class = "w-2/5 flex flex-col items-center">
                        <!-- Notification Warn -->
                        <div v-if = "!notification" class = "bg-[#8edafc] w-full">
                            <div class = "p-5 flex items-center">
                                <div>
                                    <span class = "rounded-full bg-white p-2">
                                        <i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i>
                                    </span>
                                </div>
                                <div class = "ml-4">
                                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                                    <span @click = "switchNotification()" class = "cursor-pointer">
                                        <a class = "text-gray-500 underline">Attiva notifiche desktop</a>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Search Contact Input -->
                        <div class = "w-full">
                            <div class = " bg-white m-1.5 flex items-center">
                                <div class = "px-8 py-2 border-r-[1px] border-x-gray-300">
                                    <label for="contactSearch">
                                        <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                                    </label>
                                </div>
                                <input v-model = "contactToSearch" @keyup = "filterArray()" class = "w-full ml-4 active:border-none" type="text" placeholder = "Cerca o inizia una nuova chat" id="contactSearch">
                            </div>
                        </div>
                        <!-- Contacts -->
                        <div class = "overflow-auto w-full">
                            <div v-for = "(contact, currentContact) in contacts" >
                                <div @click = "selectContact(currentContact)" class="contact bg-white hover:bg-[#e9ebeb]">
                                    <div class="flex p-3" :class = "contact.visible">
                                        <div>
                                            <img :src="contact.avatar" class = "w-[50px] rounded-full">
                                        </div>                       
                                            <div class = "w-full ml-4">
                                                <div class = "flex justify-between">
                                                    <h1 class = "text-lg">{{contact.name}}</h1>
                                                    <span class = "text-gray-400 text-xs">{{returnLastMsgTime(currentContact)}}</span>
                                                </div>
                                                <span class = "text-gray-400 text-xs">{{returnLastMsg(currentContact)}}</span>
                                            </div>    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class = "chat-container w-3/5 border-l-[1px] border-x-gray-300 flex flex-col-reverse">
                        <div class = " bg-[#f3eeea] flex justify-between items-center">
                            <div class ="px-6 py-3">
                                <i class="fa-regular fa-face-smile fa-xl" style="color: #b1b1b1;"></i>
                            </div>
                            <div class = "flex-grow p-4">
                                <input v-model="currentMsg" @keyup.enter="onEnter()" type="text" class ="p-2 w-full rounded-md" placeholder = "Scrivi un messaggio">
                            </div>
                            <div class ="px-6 py-3">
                                <i class="fa-solid fa-microphone fa-xl" style="color: #b1b1b1;"></i>
                            </div>
                        </div>
                        <div class = "current-chat overflow-auto">
                            <div class="px-20 flex flex-col py-8">

                                <div v-for="msg in contacts[contactIndex].messages" class="msg" :class = "msg.status">
                                    <h6>
                                        {{msg.message}}
                                    </h6>
                                    <p class = "text-[10px] text-gray-400 text-right">
                                        {{msg.date}}
                                    </p>
                                    <div class="popup">

                                    </div>
                                </div>
                                
                    
                            </div>
                        </div>

                    </div> 
                </div>
                


            </div>
        </main>
    </div>
    <!-- Script -->
    <script src="js/main.js"></script>
</body>
</html>